body
    margin: 0 5em  
h1
    padding-top: 50px
    padding-bottom: 25px
.menu
    background-color: white
    border-radius: 10px
    input
        border: none
        background-color: white
    #envoyer
        border: none
        color: green
        background-color: white
        border-radius: 10px
    #envoyer:hover
        background-color: green
        color: white